/* STARTING BOOTSTRAP */

.container {
  position: absolute;
  display: grid;
  align-content: center;
  max-width: 80%;
  border-radius: 5 px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

/* Formatting Index Page */

#start-btn {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 100px;
  height: 150px;
  border: 2px solid lightgrey;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 300px;
  top: 50px;
  color: lightgrey;
}

.col-md-6 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: gray;
  height: 50px;
  align-items: center;
}

#footer-btn {
  width: auto;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 12px 10px 12px 10px;
}

/* FORMATTING SUBMIT SOCRE PAGE */

.col-sm-12 {
  align-content: center;
  width: auto;
  border-radius: 5 px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}


/* old code CSS */
/* *, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */

/* :root {
  --hue-neutral: white;
  --hue-wrong: 0;
  --hue-correct: 145;
} */

/* body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: gray;
  border-radius: 5 px;
  padding: 10px;
} */

/* .btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
} */

/* .btn {
  --hue: var(--hue-neutral);
  border: 1 px solid hsl(var(-hue), 100%, 30%);
  background-color: hsl(var(--hue) 100%, 50%);
  border-radius: 5 px;
  padding: 5px 10px;
} */